@media (max-width: 991px) {
  .touch-hint {
    display: block;
  }

  .navbar-nav {
    text-align: right;
  }

  .nav-item .nav-link {
    font-weight: 400 !important;
  }

  .active .nav-link {
    font-weight: 500 !important;
  }

  .logo-bar {
    height: 40px;
    width: auto;
  }
  .gallery {
    width: 100% !important;
  }

  .top-projects {
    margin: 0 !important;
    padding: 20px !important;
    width: 100% !important;
  }

  .section-title {
    margin: 24px 0 !important;
    font-size: 22px !important;
  }
}
